<div class="grid">
    <div class="col-12 xl:col-12">
        <div class="menu-card mb-0">
            <app-dashboard-header (setNewTimeTable)="setNewTable($event)"/>
        </div>
    </div>

    <div class="col-12 {{i.width}}" *ngFor="let i of infos">
        <div class="card mb-0" *ngIf="selectedTimeTable" [@slideDown]>
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">{{i.header}}</span>
                    <div class="text-900 font-medium text-xl">{{i.value}}</div>
                </div>
                <div class="flex align-items-center justify-content-center {{i.color}} border-round" [ngStyle]="{width: '2.5rem', height: '2rem'}">
                    <i class="{{i.icon}}"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">{{i.highlight}}</span>
            <span class="text-500">{{i.fin}}</span>
        </div>
    </div>

    <div class="col-12 xl:col-12">
        <div class="card" id="calendar">
            <div class="loading-spinner" *ngIf="loading$ | async">
                <div class="spinner"></div>
            </div>

            <full-calendar #cal class="custom-calendar" [style]="{'position':'relative'}"
                           [options]="calendarOptions()"
                           [events]="currentSessions | SessionToEvent: 'dashboard'">
            </full-calendar>
        </div>
    </div>
</div>

<app-calendar-context-menu #cm/>

