<div class="surface-section">
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border">
            <div class="text-500 w-6 md:w-2 font-medium">Course Credentials</div>
            <div class="w-full flex flex-column gap-2">
                <div class="flex gap-2 w-full">
                    <p-dropdown [options]="courseOptions" [(ngModel)]="course.courseType"
                                id="type" placeholder="select a Type" class="w-full"></p-dropdown>
                    <input type="text" pInputText id="id" required
                           [(ngModel)]="course.id" class="w-full" placeholder="ID" [disabled]="inEditMode"/>
                    <input type="text" pInputText id="name" required autofocus
                           [(ngModel)]="course.name" class="w-full" placeholder="Name" />
                </div>
                <small class="p-error mt-2" *ngIf="!course.name || !course.id">Credentials are missing</small>
            </div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Lecturer</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="text" pInputText id="lecturer" [(ngModel)]="course.lecturer" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">Study Degree</div>
            <div class="text-900 w-full md:w-4 flex">
                <p-dropdown id="degree" [options]="degreeOptions" [(ngModel)]="course.studyType"
                            placeholder="Select Study Degree" class="w-full"/>
            </div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Allowed number of participants</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="number" pInputText id="allowed" [(ngModel)]="course.numberOfParticipants" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">Duration in Minutes</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="number" pInputText id="duration" [(ngModel)]="course.duration" class="w-full"/>
            </div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Semester</div>
            <div class="text-900 w-full md:w-4 flex">
                <p-dropdown id="semester" [options]="semesterOptions" [(ngModel)]="course.semester"
                            placeholder="Select Semester" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">Computers Necessary</div>
            <div class="text-900 w-full md:w-4 flex">
                <p-toggleButton id="op2" onLabel="Yes" offLabel="No" [(ngModel)]="course.computersNecessary"/>
            </div>
        </li>
    </ul>
    <div class="flex justify-content-center mt-3">
        <button class="createButton p-button p-component" (click)="save()">Save</button>
    </div>
</div>
