<app-floating-configurator />
<div class="bg-surface-50 dark:bg-surface-950 flex items-center justify-center min-h-screen min-w-[100vw] overflow-hidden">
    <div class="flex flex-col items-center justify-center">
        <div style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
            <div class="w-full bg-surface-0 dark:bg-surface-900 py-20 px-8 sm:px-20" style="border-radius: 53px">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" >
                    <div class="text-center">
                        <div class="text-surface-900 dark:text-surface-0 text-3xl font-medium mb-4">Crossfit Tracker</div>
                        <span class="text-muted-color font-medium">Register dich</span>
                    </div>
                    <div class="mt-4">
                        <label for="email" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">E-Mail</label>
                        <input id="email" pInputText formControlName="email" placeholder="E-Mail" class="w-full md:w-[30rem] mb-2" />
                        <label for="username" class="block text-surface-900 dark:text-surface-0 text-xl font-medium mb-2">Name</label>
                        <input id="username" pInputText formControlName="username" placeholder="Name" class="w-full md:w-[30rem] mb-2" />
                        <label for="password" class="block text-surface-900 dark:text-surface-0 font-medium text-xl mb-2">Passwort</label>
                        <p-password id="password" formControlName="password" placeholder="Passwort" [toggleMask]="true" styleClass="mb-2" [fluid]="true" [feedback]="false"></p-password>
                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary">Passwort vergessen?</span>
                        </div>
                        <div class="flex items-center justify-between mt-2 mb-8 gap-8">
                            <span class="font-medium no-underline ml-2 text-right cursor-pointer text-primary" routerLink="/auth/login">Bereits einen Account? Hier gehts zum Login</span>
                        </div>
                        <p-button [loading]="loading" type="submit" label="Sign In" styleClass="w-full"></p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
