<div class="card">
    <h2>Icons</h2>
        <h4>Download</h4>
<pre class="app-code"><code>npm install primeicons --save</code></pre>

    <h4>Getting Started</h4>
    <p>PrimeIcons use the <strong>pi pi-&#123;icon&#125;</strong> syntax such as <strong>pi pi-check</strong>.
        A standalone icon can be displayed using an element such as <i>i</i> or <i>span</i></p>

<pre class="app-code"><code>&lt;i class="pi pi-check"&gt;&lt;/i&gt;
&lt;i class="pi pi-times"&gt;&lt;/i&gt;</code></pre>
    
    <i class="pi pi-check" style="margin-right: .5rem"></i>
    <i class="pi pi-times"></i>

    <h4>Size</h4>
    <p>Size of the icons can easily be changed using font-size property.</p>

<pre class="app-code"><code>&lt;i class="pi pi-check"&gt;&lt;/i&gt;</code></pre>

    <i class="pi pi-check"></i>

<pre class="app-code"><code>&lt;i class="pi pi-check" style="font-size: 2rem"&gt;&lt;/i&gt;</code></pre>

    <i class="pi pi-check" style="font-size: 2rem"></i>

    <h4>Spinning Animation</h4>
    <p>Special pi-spin class applies infinite rotate to an icon.</p>
    
<pre class="app-code"><code>&lt;i class="pi pi-spin pi-spinner" style="font-size: 2rem"&gt;&lt;/i&gt;</code></pre>
    
    <i class="pi pi-spin pi-spinner" style="font-size: 2rem"></i>

    <h4>List of Icons</h4>
    <p>Here is the current list of PrimeIcons, more icons will be added periodically. You may also <a class="text-primary hover:underline" href="https://github.com/primefaces/primeicons/issues">request new icons</a> at the issue tracker.</p>
    <div>
        <input class="icon-filter" (input)="onFilter($event)" pInputText placeholder="Search an icon" class="w-full p-3 mt-3 mb-5 w-full p-3 mt-3 mb-5">
    </div>

    <div class="grid text-center">
        <div class="col-6 sm:col-4 lg:col-3 xl:col-2 pb-5" *ngFor="let icon of filteredIcons">
            <i class="text-2xl pi pi-{{icon.properties.name}}"></i>
            <div>pi-{{icon.properties.name}}</div>
        </div>
    </div>
</div>