<div class="grid">
	<div class="col-12">
		<div class="card">
			<h5>Advanced</h5>
			<div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="firstname2">Firstname</label>
					<input pInputText id="firstname2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="lastname2">Lastname</label>
					<input pInputText id="lastname2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="address1">Address Line 1</label>
					<input pInputText id="address1" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="address2">Address Line 2</label>
					<input pInputText id="address2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="city">City</label>
					<input pInputText id="city" type="text" />
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="state">State</label>
					<p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
				</div>
				<div class="field col-12 md:col-3">
					<label htmlFor="zip">Zip</label>
					<input pInputText id="zip" type="text" />
				</div>
			</div>
            <button class="flex justify-content-center" pButton label="Submit"></button>
		</div>
	</div>
</div>
