<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt
                     [(selection)]="selectedItem"
                     [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
                     [value]="items" dataKey="id" [rows]="15"
                     [loading]="loading | async" [rowHover]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search Keyword" class="w-full"/>
						</span>
                    </div>
                </ng-template>

                <ng-template pTemplate="header">
                    <tr>
                        <th id="check">
                            <p-tableHeaderCheckbox/>
                        </th>
                        <th class="flex-header"
                            *ngFor="let col of selectedHeaders" [pSortableColumn]="col.field" pReorderableColumn>
                            <span><p-sortIcon [field]="col.field"/> {{ col.header }} </span>
                        </th>
                        <th style="width: min-content"> Edit </th>
                        <th style="width: min-content"> Delete </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="i"/>
                        </td>
                        <td *ngFor="let col of selectedHeaders">
                            <ng-container>
                                {{ i[col.field] }}
                            </ng-container>
                        </td>
                        <td style="width: min-content">
                            <button pButton class="editButton" type="button" icon="pi pi-pencil"
                                    pTooltip="Edit {{item}}" tooltipPosition="bottom">
                            </button>
                        </td>
                        <td style="width: min-content">
                            <button pButton class="deleteButton" type="button" icon="pi pi-trash"
                                    pTooltip="Delete {{item}}" tooltipPosition="bottom">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="8">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="{{selectedHeaders.length}}">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

