<!-- CONTENEDOR PRINCIPAL -->
<div class="flex flex-col gap-4">

    <!-- TOOLBAR -->
    <p-toolbar styleClass="mb-6">
        <ng-template #start>
            <p-button label="Nuevo" icon="pi pi-plus" severity="primary" class="mr-2" (click)="openNew()" />
        </ng-template>
    </p-toolbar>

    <!-- CABECERA -->
    <div class="card">
        <div class="font-semibold text-2xl mb-4">Módulo Producto Envase</div>

        <!-- DATAVIEW -->
        <p-dataview
            [value]="ProductoEnvases()"
            [layout]="layout"
            [rows]="perPage"
            [paginator]="true"
            [lazy]="true"
            [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[5, 10, 25]"
            dataKey="id"
            (onPage)="onPageChange($event)"
            (onSort)="onSortChange($event)"
            currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
            [showCurrentPageReport]="true">

            <!-- HEADER: FILTROS Y LAYOUT -->
            <ng-template #header>
                <div class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between">
                    <div class="flex flex-wrap items-center gap-4">
                        <div>
                          <label class="block font-bold mb-1">Categoria</label>
                          <p-select 
                              [appendTo]="'body'" 
                              [filter]="true" 
                              (onChange)="onGlobalFilterCategoria($event)"
                              filterBy="nombre"
                              [(ngModel)]="selectedCategoria"
                              [options]="categorias || []" optionLabel="nombre"  
                              placeholder="Seleccione la categoría" 
                              class="w-full"
                              >
                              <ng-template let-categoria pTemplate="item">
                                  {{ categoria.nombre }}
                              </ng-template>
                              <ng-template let-categoria pTemplate="selectedItem">
                                  {{ categoria?.nombre }}
                              </ng-template>
                          </p-select>
                        </div>

                        <div>
                            <label class="block font-bold mb-1">Buscar por nombre</label> 
                            <p-iconfield>
                                <p-inputicon styleClass="pi pi-search" />
                                <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Buscar..." />
                            </p-iconfield>
                        </div>
                        
                    </div>
                </div>
            </ng-template>

            <!-- CUADRICULA -->
            <ng-template #grid let-items>
                <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
                  <div *ngFor="let item of items"
                       class="relative flex bg-white border-l-4 border-blue-500 rounded-xl shadow-md p-4 transition hover:shadow-lg"
                       (contextmenu)="menu.show($event); $event.preventDefault(); productoenvase = item; loadMenuItems();">
              
                    <!-- Imagen -->
                    <div class="w-24 h-24 flex-shrink-0 mr-4 rounded-lg overflow-hidden bg-gray-100">
                      <p-image 
                        [src]="utils.getImageUrl(item.image,'ProductoEnvase/ProductoEnvase.png')" 
                        [alt]="item.producto.nombre" 
                        [preview]="true"
                        class="w-full h-full object-cover">
                      </p-image>
                    </div>
              
                    <!-- Información -->
                    <div class="flex flex-col justify-between flex-grow">
                      <div>
                        <h3 class="text-lg font-semibold text-gray-800 truncate">
                          {{ item.producto.nombre }}
                        </h3>
                        <p class="text-sm text-gray-600 line-clamp-2">
                          {{ item.producto.descripcion }}
                        </p>
                      </div>
              
                      <div class="mt-3 flex flex-col md:flex-row md:flex-wrap items-start md:items-center justify-between gap-2 md:gap-2">
  
                        <!-- Cantidad destacada -->
                        <div class="text-blue-700 bg-blue-100 px-3 py-1 rounded-lg font-bold text-sm shadow-sm w-fit">
                          {{ item.cantidad }} {{ item.unidad.nombre_corto }}
                        </div>
                      
                        <!-- Categoría -->
                        <span class="text-sm bg-gray-100 text-gray-700 px-2 py-0.5 rounded-full w-fit">
                          {{ item.producto.categoria.nombre }}
                        </span>
                      
                        <!-- Estado -->
                        <p-tag 
                          [value]=" utils.getStatus(item.estado)" 
                          [severity]="utils.getSeverity(item.estado)"
                          class="text-xs w-fit">
                        </p-tag>
                      </div>
                      
                    </div>
                  </div>
                </div>
            </ng-template>
        </p-dataview>
    </div>
</div>
<p-contextMenu #menu [model]="items" (onHide)="onContextMenuHide()" ></p-contextMenu>

<p-confirmdialog [style]="{ width: '450px' }" />
<app-producto-envase-form
    [visible]="productoenvaseDialog"
    [producto_envase]="productoenvase"
    (visibleChange)="ProductoEnvasecloseDialog($event)">
</app-producto-envase-form>