<div class="plan">
    <div class="inner">
			<span class="pricing">
				<span>
					Course
				</span>
			</span>
        <p class="title">{{ hoverEventInfo?.event!.title }}</p>
        <ul class="features">
            <li>
            <span> Time:
                {{hoverEventInfo?.event!.start!.toLocaleTimeString()}}
                -
                {{hoverEventInfo?.event!.end!.toLocaleTimeString()}}
            </span>
            </li>
            <li>
                <span>Degree: {{ hoverEventInfo?.event!.extendedProps['studyType'] }}</span>
            </li>
            <li>
                <span>Semester: {{hoverEventInfo?.event!.extendedProps['semester']}}</span>
            </li>
            <li>
                <span>Room: {{hoverEventInfo?.event!.extendedProps['description'] ?? 'not assigned'}}</span>
            </li>
        </ul>
    </div>
</div>
