<p-dialog [(visible)]="visible" [style]="{ width: '600px' }" [modal]="true" [closable]="false">
    <ng-template #header>
      <strong><h2 class="text-xl font-bold">Formulario Gestión</h2></strong>
    </ng-template>
  
    <ng-template #content>
      <p-fluid>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
          
          <!-- Año -->
          <div class="flex flex-col">
            <label class="block font-semibold mb-1">Año</label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-calendar"></i>
              </p-inputgroup-addon>
              <input pInputText type="text" [(ngModel)]="gestion.anio" class="w-full" placeholder="Ej: 2025" />
            </p-inputgroup>
          </div>
  
          <!-- Nombre Campaña -->
          <div class="flex flex-col">
            <label class="block font-semibold mb-1">Nombre Campaña</label>
            <p-inputgroup>
              <p-inputgroup-addon>
                <i class="pi pi-tag"></i>
              </p-inputgroup-addon>
              <input pInputText type="text" [(ngModel)]="gestion.nombre_campania" class="w-full" placeholder="Ej: verano" />
            </p-inputgroup>
          </div>
        </div>
      </p-fluid>
    </ng-template>
  
    <ng-template #footer>
      <div class="flex justify-end gap-2">
        <p-button label="Cancelar" severity="secondary" icon="pi pi-times" (click)="closeDialog()" />
        <p-button 
          [label]="gestion.id ? 'Actualizar' : 'Guardar'" 
          severity="info" 
          [icon]="saving ? 'pi pi-spin pi-spinner' : 'pi pi-check'"
          [disabled]="saving"
          (click)="saveGestion()" 
        />
      </div>
    </ng-template>
  </p-dialog>
  
  