main {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    margin-bottom: 135px;
}

.input-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 100%;
    padding-inline: 20px;

    label {
        width: 170px;
    }

    input,
    .input {
        width: 100%;
    }
}
@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr; /* Single-column layout */
    }
}

@media (max-width: 411px) {
    ::ng-deep .p-datepicker .p-datepicker-panel {
        left: -69px !important;
    }
}

::ng-deep .p-datepicker,
.p-select {
    width: 100%;
}
