<main class="p-fluid">
    <div class="input-container">
        <label for="make">Make</label>
        <input pInputText id="make" [(ngModel)]="make" autocomplete="off" />
    </div>

    <div class="input-container">
        <label for="model">Model</label>
        <input pInputText id="model" [(ngModel)]="model" autocomplete="off" />
    </div>

    <div class="input-container">
        <label for="year">Year</label>
        <p-datepicker [(ngModel)]="year" placeholder="Select Year" view="year" dateFormat="yy" />
    </div>

    <div class="input-container">
        <label for="color">Color</label>
        <input pInputText id="color" [(ngModel)]="color" autocomplete="off" />
    </div>

    <div class="input-container">
        <label for="type">Type</label>
        <p-select class="input" [options]="vehicleTypes" [(ngModel)]="type" optionLabel="name" placeholder="Select a Type" class="w-full md:w-56"></p-select>
    </div>

    <div class="input-container">
        <label for="regNo">RegNo</label>
        <input pInputText id="regNo" [(ngModel)]="regNo" autocomplete="off" />
    </div>

    <div class="input-container">
        <label for="ownerName">Owner Name</label>
        <input pInputText id="ownerName" [(ngModel)]="ownerName" autocomplete="off" />
    </div>

    <div class="input-container">
        <label for="contactNumber">Contact Number</label>
        <input pInputText id="contactNumber" [(ngModel)]="contactNumber" autocomplete="off" />
    </div>
</main>
