<div class="card flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <label for="name1">Provider Name</label>
        <input required capitalize [(ngModel)]="supplier().name" pInputText id="name" type="text" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="name1">Utility </label>
        <input required [(ngModel)]="supplier().expenseName" pInputText id="expenseName" type="text" />
    </div>
    <div class="flex flex-col gap-2">
        <label for="name1">Tel. </label>
        <input required [(ngModel)]="supplier().tel" pInputText id="tel" type="text" />
    </div>
</div>
