<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="Nuevo" icon="pi pi-plus" severity="primary" class="mr-2" (click)="openNew()" />
    </ng-template>
</p-toolbar>
<p-table
        [value]="unidades()"
        [rows]="perPage"
        [paginator]="true"
        [tableStyle]="{ 'min-width': '50rem'}"
        [rowHover]="true"
        currentPageReportTemplate="Mostrando del {first} al {last} de {totalRecords} registros"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[5, 10, 25]"
        (onSort)="onSortChange($event)"
        [totalRecords]="totalRecords"
        [loading]="loading"
        [lazy]="true"
        (onPage)="onPageChange($event)"
        [(first)]="firstRecord"
    >
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">Modulo Unidad</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter($event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header >
        <tr>
            <th pSortableColumn="id" style="width: 3rem">id <p-sortIcon field="id" /></th>
            <th pSortableColumn="nombre" style="width: 16rem">Nombre <p-sortIcon field="nombre" /></th>
            <th pSortableColumn="nombre_corto" style="width: 8rem">Abreviatura<p-sortIcon field="nombre_corto" /></th>
            <th style="width: 5rem">Estado</th>
            <th style="width: 8rem"></th>
        </tr>
    </ng-template>
    <ng-template #body let-unidad>
        <tr>
            <td style="width: 3rem">{{ unidad.id }}</td>
            <td style="width: 16rem">{{ unidad.nombre }}</td>
            <td style="width: 8rem">{{ unidad.nombre_corto }}</td>
            <td style="width: 5rem; text-align: right;" >
                <p-tag [value]="utils.getStatus(unidad.estado)" [severity]="utils.getSeverity(unidad.estado)" />
            </td>
            <td style="width: 8rem; text-align: right;" >
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editUnidad(unidad)"  />
                <ng-container *ngIf="unidad.estado; else restoreButton">
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"  (click)="deleteUnidad(unidad)"/>
                </ng-container>
                <ng-template #restoreButton>
                    <p-button icon="pi pi-refresh" severity="success" [rounded]="true" [outlined]="true"  (click)="restoreUnidad(unidad)"/>
                </ng-template>
                
            </td>
        </tr>
    </ng-template>
</p-table>


<p-confirmdialog [style]="{ width: '450px' }" />
<p-toast position="top-right"></p-toast>
<app-unidad-form [visible]="unidadDialog" [unidad]="unidad" (visibleChange)="UnidadcloseDialog($event)"></app-unidad-form>



