<div class="card">
    <p-tabs value="0">
        <p-tablist>
            <p-tab value="0">Salaries</p-tab>
            <p-tab value="1">Employees</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <!-- <app-utilities-table></app-utilities-table> -->

                <app-salary-table></app-salary-table>
            </p-tabpanel>
            <p-tabpanel value="1">
                <!-- <app-suppliers [expenseType]="'utility'"></app-suppliers> -->
            </p-tabpanel>
            <p-tabpanel value="2"> </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
