<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Notas de ventas</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{ dashboardData.cantidad_venta }}</div>
            </div>
            <div class="flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-shopping-cart text-blue-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{ dashboardData.cantidad_venta }}</span>
        <span class="text-muted-color"> Ver mas</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Ventas del dia</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">$ {{dashboardData.monto_venta}}</div>
            </div>
            <div class="flex items-center justify-center bg-orange-100 dark:bg-orange-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-dollar text-orange-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium"> {{dashboardData.monto_venta}} </span>
        <span class="text-muted-color"> Ver mas</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Clientes</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{dashboardData.cantidad_cliente}}</div>
            </div>
            <div class="flex items-center justify-center bg-cyan-100 dark:bg-cyan-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-users text-cyan-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{dashboardData.cantidad_cliente}} </span>
        <span class="text-muted-color">Ver mas</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Facturas de compras</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{dashboardDataCompra.cantidad_compra}}</div>
            </div>
            <div class="flex items-center justify-center bg-purple-100 dark:bg-purple-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-comment text-purple-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{dashboardDataCompra.cantidad_compra}}</span>
        <span class="text-muted-color"> Ver detalles</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Compras del dia</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">$ {{dashboardDataCompra.monto_compra}}</div>
            </div>
            <div class="flex items-center justify-center bg-green-100 dark:bg-green-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-dollar text-green-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{dashboardDataCompra.monto_compra}}</span>
        <span class="text-muted-color"> Ver detalles</span>
    </div>
</div>
<div class="col-span-12 lg:col-span-6 xl:col-span-3">
    <div class="card mb-0">
        <div class="flex justify-between mb-4">
            <div>
                <span class="block text-muted-color font-medium mb-4">Proveedores</span>
                <div class="text-surface-900 dark:text-surface-0 font-medium text-xl">{{dashboardDataCompra.cantidad_proveedor}}</div>
            </div>
            <div class="flex items-center justify-center bg-pink-100 dark:bg-pink-400/10 rounded-border" style="width: 2.5rem; height: 2.5rem">
                <i class="pi pi-users text-pink-500 !text-xl"></i>
            </div>
        </div>
        <span class="text-primary font-medium">{{dashboardDataCompra.cantidad_proveedor}}</span>
        <span class="text-muted-color"> Ver detalles</span>
    </div>
</div>


