<div class="surface-section">
    <ul class="list-none p-0 m-0">
        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Lastname</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="text" pInputText id="lastname" [(ngModel)]="user.lastName" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">Firstname</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="text" pInputText id="firstname" [(ngModel)]="user.firstName" class="w-full"/>
            </div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Mail</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="email" pInputText id="duration" [(ngModel)]="user.email" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">password</div>
            <div class="text-900 w-full md:w-4 flex">
                <p-password id="password1" [(ngModel)]="user.password"
                            placeholder="Password" [feedback]="true"/>
            </div>
        </li>

        <li class="flex align-items-center py-3 px-2 border-top-1 border-bottom-1 surface-border flex-wrap w-full">
            <div class="text-500 w-6 md:w-2 font-medium">Username</div>
            <div class="text-900 w-full md:w-4 flex">
                <input type="text" pInputText id="allowed" [(ngModel)]="user.username" class="w-full"/>
            </div>
            <div class="text-500 w-6 md:w-2 font-medium">Roles</div>
            <div class="text-900 w-full md:w-4 flex">
                <p-multiSelect id="role" [options]="roleOptions" [(ngModel)]="user.role"
                               placeholder="select Roles" [filter]="false"/>
            </div>
        </li>

    </ul>
    <div class="flex justify-content-center mt-3">
        <button class="createButton p-button p-component" (click)="save()">Save</button>
    </div>
</div>
