.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.row {
    display: flex; /* Make the container a flexbox */
    flex-wrap: wrap; /* Allow wrapping to multiple lines */
}

.card {
    display: flex;
    flex-direction: column; /* Ensures content stacks vertically */
    height: 100%; /* Make all cards take full height */
}
