<div class="grid">
    <div class="col-9">
        <div class="card" style="height: 84vh">
            <app-editor-header #hd (changeRoom)="setNewRoom($event)" [currentRooms]="timeTable.roomTables"/>
            <app-editor-calendar #cd [selectedRoom]="selectedRoom" (setDirtyBool)="setDirtyDataBit($event)"
                [currentEvents]="timeTable.courseSessions | SessionToEvent: 'editor' | EventFilter: 'shown'"/>
        </div>
    </div>

    <div class="col-3">
        <div class="card" style="height: 84vh;">
            <app-editor-selection #st (triggerSave)="saveData()"
                [currentDragEvents]="timeTable.courseSessions | SessionToEvent: 'editor' | EventFilter: 'drag'"
                style="width: 100%; height: 80vh; display: flex; flex-direction: column;"/>
        </div>
    </div>
</div>

<p-contextMenu #cm [global]="true" [model]="items" (onShow)="getItemMenuOptions()"/>
<p-confirmDialog [position]="'top'"/>
