<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-table #dt
                     [(selection)]="selectedItems" [selectionMode]="'multiple'" [selectionPageOnly]="true"
                     [paginator]="true" [globalFilterFields]="['']"
                     [value]="items" dataKey="id" [rows]="15"
                     [loading]="loading | async" [rowHover]="true" styleClass="p-datatable-gridlines" responsiveLayout="scroll">

                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between align-items-center">
                        <div>
                        <button pButton class="createButton" type="button" (click)="showCreateDialog(null)"
                                label="CREATE NEW {{item.toUpperCase()}}">
                        </button>
                        <button pButton label="DELETE SELECTED {{item.toUpperCase()}}S" type="button"
                                class="deleteButton" (click)="deleteSelection()"
                                [disabled]="!selectedItems || !selectedItems.length">
                        </button>
                        </div>

                        <div class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text"
                                   (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                                   placeholder="Search Keyword"
                                   class="w-full"/>
                        </div>
                        <div class="p-input-icon-left">
                            <p-multiSelect [options]="headers" [(ngModel)]="selectedHeaders" optionLabel="header"
                                           selectedItemsLabel="{0} columns selected"
                                           placeholder="Choose Columns"/>
                        </div>
                    </div>
                </ng-template>


                <ng-template pTemplate="header">
                    <tr>
                        <th class="flex-header" style="width: 4rem">
                            <p-tableHeaderCheckbox/>
                        </th>
                        <th class="flex-header"
                            *ngFor="let col of selectedHeaders" [pSortableColumn]="col.field" pReorderableColumn>
                            <span><p-sortIcon [field]="col.field"/> {{ col.header }} </span>
                        </th>
                        <th style="width: 0"> Edit </th>
                        <th style="width: 0"> Delete </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-i>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="i"/>
                        </td>
                        <td *ngFor="let col of selectedHeaders">
                            <ng-container>
                                {{ i[col.field] }}
                            </ng-container>
                        </td>
                        <td style="width: min-content">
                            <button pButton class="editButton" type="button" icon="pi pi-pencil"
                                    (click)="showCreateDialog(i)">
                            </button>
                        </td>
                        <td style="width: min-content">
                            <button pButton class="deleteButton" type="button" icon="pi pi-trash"
                                    (click)="deleteSingeItem(i)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="14">No customers found.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="14">Loading customers data. Please wait.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

