<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/uibk-grey.svg" alt="logo" style="background: var(--sys-color-primary-white)">
        <span>Lecture Connect</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>
    <button class="p-link layout-topbar-button" [routerLink]="'/documentation'" [pTooltip]="'Calendar View'" tooltipPosition="bottom">
        <i class="pi pi-desktop"></i>
        <span>Settings</span>
    </button>

    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <div style="margin-right: 1rem">
            <button class="p-link layout-topbar-button" routerLink="" [pTooltip]="'Table Management'" tooltipPosition="bottom">
                <i class="pi pi-table"></i>
                <span>Calendar</span>
            </button>
            <button class="p-link layout-topbar-button" [pTooltip]="'Manage Users'" tooltipPosition="bottom">
                <i class="pi pi-user"></i>
                <span>Profile</span>
            </button>
        </div>

        <button class="p-link layout-topbar-button" routerLink="" [pTooltip]="'Edit Rooms'" tooltipPosition="bottom">
            <i class="pi pi-calendar"></i>
            <span>Calendar</span>
        </button>
        <button class="p-link layout-topbar-button" [pTooltip]="'Edit Courses'" tooltipPosition="bottom">
            <i class="pi pi-book"></i>
            <span>Profile</span>
        </button>
        <button class="p-link layout-topbar-button" [routerLink]="'/auth/login'" [pTooltip]="'Logout'" tooltipPosition="bottom">
            <i class="pi pi-sign-out"></i>
            <span>Profile</span>
        </button>
    </div>
</div>
