<ng-template pTemplate="content" class="parent">
    <div id="newCalendarGrid">
        <div id="semester">
            <label for="type">Semester Type</label>
            <p-dropdown id="type" [options]="semesterOptions" [(ngModel)]="creationTable.semester" placeholder="select a Semester"/>
            <small class="p-error" *ngIf="!creationTable.semester">for Simplification needed</small>
        </div>
        <div id="tableYear">
            <label for="year">Year</label>
            <p-inputNumber type="number" id="year" required autofocus [(ngModel)]="creationTable.year"/>
            <small class="p-error" *ngIf="!creationTable.year">for Simplification needed</small>
        </div>
        <div id="tableName">
            <label for="name">Table Name</label>
            <input pInputText type="text" id="name" required [(ngModel)]="creationTable.name"/>
            <small class="p-error" *ngIf="!creationTable.name">for Simplification needed</small>
        </div>
    </div>
</ng-template>
