<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
     style="background-image: url('assets/layout/images/login.jpg'); background-size: cover; background-position: center;">
    <div class="flex flex-column align-items-center justify-content-center">
        <img src="assets/layout/images/LeCo-logo.svg" alt="Sakai logo" class="mb-5 w-6rem flex-shrink-0"
             style="border: 3px solid #f39200; border-radius: 20px">
        <div style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, #f39200 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:53px">
                <span class="font-bold text-3xl" style="color: #003361">404</span>
                <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
                <div class="text-600 mb-5">Requested resource is not available.</div>
                <a [routerLink]="['/']" class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center border-round" style="height:3.5rem; width:3.5rem; background: #003361">
                        <i class="text-50 pi pi-fw pi-table text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0 block">Redirect Home</span>
                        <span class="text-600 lg:text-xl">Go back to the calendar view</span>
                    </span>
                </a>
                <a [routerLink]="['/']" class="w-full flex align-items-center py-5 border-300 border-bottom-1">
                    <span class="flex justify-content-center align-items-center border-round" style="height:3.5rem; width:3.5rem; background: var(--sys-color-primary-red)">
                        <i class="pi pi-fw pi-question-circle text-50 text-2xl"></i>
                    </span>
                    <span class="ml-4 flex flex-column">
                        <span class="text-900 lg:text-xl font-medium mb-0">Want to use the tool?</span>
                        <span class="text-600 lg:text-xl">Request a account for using the tool</span>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
