<div style="display: flex; flex-direction: column; height: 100%;">
    <div class="flex justify-content-center">
        <button pButton label="Finished" class="createButton"
                [routerLink]="''" (click)="triggerFinish()">
        </button>
    </div>

    <div style="width: 100%; flex-grow: 1; display: flex; flex-direction: column;
                align-items: center; text-align: center;
                 gap: 10px; padding: 10px; overflow-y: auto;"  #external>
        <div *ngFor="let event of currentDragEvents" class="drag-event hover-event"
             [attr.data-id]="event['id']"
             [attr.data-title]="event['title']"
             [attr.data-duration]="event.extendedProps?.['duration']"
             [attr.data-participants]="event.extendedProps?.['nrOfParticipants']"
             [attr.data-hasComputers]="false">
            {{ event['title'] }}
        </div>
    </div>
</div>

