<div class="card">
    <div class="header-container mb-4">
        <div class="font-semibold text-xl">Sales</div>
        <i (click)="showDialog()" class="pi pi-plus"></i>
    </div>
    <p-table
        #dt1
        [value]="salesSignal()()"
        dataKey="id"
        [rows]="10"
        [loading]="loading"
        [rowHover]="true"
        [showGridlines]="true"
        [paginator]="true"
        [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
        responsiveLayout="scroll"
    >
        <ng-template #caption>
            <div class="flex justify-between items-center flex-column sm:flex-row">
                <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" (input)="onGlobalFilter(dt1, $event)" placeholder="Search keyword" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">Date</div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">RegNo</div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">Make</div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">Model</div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">Color</div>
                </th>

                <th style="min-width: 14rem">
                    <div class="flex justify-between items-center">Service Type</div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">Start</div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">End</div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">Price</div>
                </th>

                <th style="min-width: 12rem">
                    <div class="flex justify-between items-center">Status</div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">Payment Method</div>
                </th>

                <th style="min-width: 10rem">
                    <div class="flex justify-between items-center">Comments</div>
                </th>
            </tr>
        </ng-template>
        <ng-template #body let-sale>
            <tr>
                <td>
                    {{ sale.date | date: 'MM/dd/yyyy' }}
                </td>
                <td>
                    {{ sale.vehicle.regNo }}
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span>{{ sale.vehicle.make }}</span>
                    </div>
                </td>
                <td>
                    <div class="flex items-center gap-2">
                        <span class="image-text">{{ sale.vehicle.model }}</span>
                    </div>
                </td>
                <td>
                    {{ sale.vehicle.color }}
                </td>

                <td>
                    <p-tag [value]="sale.serviceType.name.toLowerCase()" [severity]="getSeverity(sale.serviceType.name.toLowerCase())" styleClass="dark:!bg-surface-900" />
                </td>

                <td>
                    {{ sale.timeStart }}
                </td>
                <td>
                    {{ sale.timeEnd }}
                </td>
                <td>
                    {{ sale.price }}
                </td>
                <td>
                    <p-tag [value]="sale.status.toLowerCase()" [severity]="getSeverity(sale.status.toLowerCase())" styleClass="dark:!bg-surface-900" />
                </td>
                <td>
                    {{ sale.paymentMethod }}
                </td>
                <td>
                    {{ sale.comments }}
                </td>
            </tr>
        </ng-template>
        <ng-template #emptymessage>
            <tr>
                <td colspan="12">No Sales found.</td>
            </tr>
        </ng-template>
        <ng-template #loadingbody>
            <tr>
                <td colspan="12">Loading Sales data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="New Sale" [(visible)]="isDialogVisible" [position]="'top'" [breakpoints]="{ '1590px': '75vw', '1036px': '100vw' }" [style]="{ width: '50vw' }" [modal]="true">
    <app-sales-form [(sale)]="sale"></app-sales-form>
    <ng-template #footer>
        <p-button p-ripple p-button p-component p-button-secondary p-button-text label="Cancel" [text]="true" severity="secondary" (click)="hideDialog()" />
        <p-button label="Save" (click)="createSale()" />
    </ng-template>
</p-dialog>
