.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 16px;
        cursor: pointer;
    }
}

.icons-box {
    i {
        opacity: 0;
        transition: 0.2s ease;
    }
}

.icons-box {
    i {
        cursor: pointer;
    }
}

.sales-row:hover .icons-box i {
    opacity: 1;
}
